<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="card p-3 mb-2">

    <div class="d-flex justify-content-between"> <%# Name & icons %>
      <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
      <div> <%# Edit & delete icon %>
        <%= link_to edit_restaurant_path(restaurant.id) do %> <i class="fas fa-pencil-alt m-2"></i> <% end %>
        <%= link_to restaurant_path(restaurant.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </div>

    <p>Address: <%= restaurant.address %></p>
  </div>
<% end %>

